{% extends "advertiser_management/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ad</title>
</head>
<body>
<h1>{{ ad.title }}</h1>
</body>
<div class="content-section">
    <div class="media">
        <img src="{{ ad.image.url }}">
        <div class="media-body">
            <a class="text-secondary text-padding" href="{{ ad.url }}">click me!</a>
        </div>
    </div>
    <!-- FORM HERE -->
</div>
</html>
{% endblock content %}