{% extends "advertiser_management/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
{% for ad in ads_list %}
<div class="card mt-3 p-3">
    {{ ad.title }}<br/>
    {{ ad.advertiser.name }}<br/>
</div>
{% endfor %}
<div class="card mt-3 p-3">
    <h5 class="card-title">sum of clicks and views in form date:number for each Ad</h5>
    <ul>
        {% for k, v in clicks_views_sum_list.items %}
        <li>{{ k }}: {{ v }}</li>
        {% endfor %}
    </ul>
</div>
<div class="card mt-3 p-3">
    <h5 class="card-title">clicks per views ratio in form date:ratio for each Ad</h5>
    <ul>
        {% for k, v in clicks_per_views_list.items %}
        <li>{{ k }}: {{ v }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
{% endblock content %}